.gridContainer {
    display: grid;
    height: 480px;
    width: 480px;
    border: 2px solid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
}

.cellDefault {
    background-color: white;
}

.cellHovered {
    background-color: black;
}