body {
    margin: 0;
    padding: 20px;
    background: rgb(10,184,239);
    background: linear-gradient(0deg, rgba(10, 186, 239, 0.85) 50%, rgba(219,208,57,0.85) 50%); 
    text-align: center;
}

@font-face {
    font-family: 'ohio_playerregular';
    src: url('OhioPlayer-xeO/ohioplayer-xeo-webfont.woff2') format('woff2'),
         url('OhioPlayer-xeO/ohioplayer-xeo-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.title {
    font-family: 'ohio_playerregular';
    color: #b41124d7;
    text-align: center;
    padding: 20px;
    font-size: 80px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gridBorder {

}

.gridContainer {
    display: grid;
    border-radius: 20px 20px 0px 0px;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    border: solid #b41123;
    border-width: 70px 70px 30px 70px;
    background: rgb(214,222,227);
    background: linear-gradient(90deg, rgba(214,222,227,1) 0%, rgba(150,140,144,1) 100%); 
}

.buttons {
    background-color: #b41123;
    border-radius: 0 0 20px 20px;
    width: 620px;
    padding-bottom: 20px;
    flex-direction: row;
}

.whiteKnob {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}
button {
    text-decoration: none;
    border: none;
    padding: 10px 10px;
    font-size: 12px;
    background: rgb(150,140,144);
    background: radial-gradient(circle, rgba(150,140,144,0.7833333162366509) 0%, rgba(214,222,227,0.38837533304337357) 100%);  
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}
button:active {
    background-color:#f7f7f7dc;
    transform: scale(0.90);
}
.cell {
    transition: all 0.3s;
}

.blackCell {
    background-color: black;
}

.modernCell0 {
    background-color:black;
    opacity: 10%;
}

.modernCell1 {
    background-color:black;
    opacity: 20%;
}

.modernCell2 {
    background-color:black;
    opacity: 30%;
}

.modernCell3 {
    background-color:black;
    opacity: 40%;
}

.modernCell4 {
    background-color:black;
    opacity: 50%;
}

.modernCell5 {
    background-color:black;
    opacity: 60%;
}

.modernCell6 {
    background-color:black;
    opacity: 70%;
}

.modernCell7 {
    background-color:black;
    opacity: 80%;
}

.modernCell8 {
    background-color:black;
    opacity: 90%;
}

.modernCell9 {
    background-color:black;
    opacity: 100%;
}

.rainbowCell0 {
    background-color: red;
}

.rainbowCell1 {
    background-color: orange;
}

.rainbowCell2 {
    background-color: yellow;
}

.rainbowCell3 {
    background-color: green;
}

.rainbowCell4 {
    background-color: blue;
}

.rainbowCell5 {
    background-color: indigo;
}

.rainbowCell6 {
    background-color: violet;
}

footer {
    
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: whitesmoke;
    padding-top: 20px;
}

h5 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    max-width: 70%;
    height: auto;
}
a:link, a:hover, a:visited, a:active {
    color: white;
    padding-left: 5px;
}